*{
    box-sizing: border-box;
}  
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 10px; */
    text-align: center;
    /* padding: 10px; */
    background-color: rgb(182, 220, 220);
} 
form h4+p{
    line-height: 0px;
}
.container{
    background-color: rgb(126, 126, 237);
    width: 50%;
    border:2px solid rgb(41, 41, 209);
    border-radius: 5px;
    margin-left: 350px;
}
input[type="submit"]:hover{
    background-color: rgb(50, 167, 50);
    cursor: pointer;
    color: rgb(216, 65, 151);
}
input[type="reset"]:hover{
    background-color: rgb(193, 92, 30);
    cursor:progress;
    color: rgb(216, 65, 151);
}
input[type="checkbox"]{
    cursor:zoom-in;
}